body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .main-container {
    .ant-layout-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: white;
    }
    .ant-layout-content {
      padding: 0 50px;
      background: white;
      .ant-table {
        .action-btns {
          display: flex;
          gap: 10px;
          .edit-btn {
            background: lightgray;
          }
          .delete-btn {
            background: #f90219ed;
          }
        }
      }
    }
  }
  